.gradient {
    -fx-background-color: linear-gradient(to right , #397eb4, #09538c);
}

.white-background {
    -fx-background-color: white;
}

.login-register-button {
    -fx-background-color: #1271b9;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
    -fx-text-fill: white;
}

.login-register-button:hover {
    -fx-background-color: #1891e7;
}

.create-account-button {
    -fx-background-color: white;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
    -fx-text-fill: #1271b9;

}

.create-account-button:hover {
    -fx-background-color: #e5e9ec;
}

.page-border {
    -fx-border-color: #09538c;
    -fx-border-width: 0 0 0 3;
}